<div class="[ availability ] [ sf-flow ] [ gap-bottom-900 ]">
  <h2 class="font-base text-700 leading-tight">Coucou 👋<br />Je suis christophe, un designer social en freelance.</h2>
  <p class="text-500">{{ site.availability }}</p>
  <p>
    <a class="[ button ] [ weight-bold text-500 ]" href="mailto:christophe@ducamp.me?subject=Bonjour 👋 J'aimerais travailler avec vous">Louez-moi !</a>
  <p>
</div>
